@font-face {
    font-family: 'Basis Grotesque Pro';
    font-style: normal;
    font-weight: normal;
    src: local('Basis Grotesque Pro'), url('BasisGrotesquePro-Regular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Basis Grotesque Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Basis Grotesque Pro Bold'), url('BasisGrotesquePro-Bold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Basis Grotesque Pro Light';
    font-style: normal;
    font-weight: normal;
    src: local('Basis Grotesque Pro Light'), url('BasisGrotesquePro-Light.woff') format('woff');
    }
*{
    margin: 0;
    text-align: center;
    font-family: 'Basis Grotesque Pro';
}

/* Nav bar */
nav{
    padding-top: 80px;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top:0;
    left:0;
    width: 80vw;
    transition: width 0.5s;
    overflow-x: hidden;
    display: none;
    background: #f7f6f5;
    overflow-y: auto;
    
   
}
nav>a{
    display: block;
    text-align: left;
    text-decoration: none;
    margin:15px 15px;
    font-family: 'Basis Grotesque Pro Bold';
    font-size: 24px;
    color: black;
    transition: 0.3s;
}
#navlinks2{
    margin-top: 80px;
}
#navlinks2>a{
    display:block;
    text-align: left;
    margin:10px 15px;
    font-size: 13px;
    letter-spacing: 0;
    font-weight: 400;
    line-height: 19px;
    padding-top: 10px;
}
.navsocials{
    text-align: left;
    margin:50px 15px;
}
.navsocials>a>img{
    padding-right: 15px;
}
nav>p{
    text-align: left;
    margin:10px 15px;
    width:40%;
}


/* Header */
#top-bar{
    background-color: white;
    width:100%;
    height:94px;
    position:fixed;
    z-index: 1;
}
#above-bar{
    background-color: black;
    color: white;
    height: 34px;
    line-height: 34px;
    vertical-align:middle;
    font-size: 14px;
    cursor: pointer;
}
.below-bar{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    height: 60px;
}
.go-left{
    width:20px;
    margin:15px;
}
.go-left:active{
    border: solid 2px black;
    padding-right: 10px;
}
.burger{
    background-color: black;
    width:20px;
    height:2px;
    margin:5px;
}
#logo{
    width:190px;
}
.checkout{
    width:21px;
    border-radius: 50%;
    height:21px;
    line-height: 21px;
    width:21px;
    font-size: 13px;
    font-weight:500;
    background-color:#e0d6c1 ;
    color:white;
    transition-property: background-color,color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    margin: 5px;
    margin-right: 10px;
    
}
.checkout:hover{
    cursor: pointer;
}
#main{
    transition: 0.5s;
}

/* Top view */
#top-display{
    background-image: url("Mobile Assignment Images/western-rise-20200909-4755_DxO_b4e3501c-77b6-45a8-ace4-6b92d81b0ee1_800x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:85vh;
}
#top-display>div{
    height: 80%;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 60px;
}
#top-display>div>div{
    height:50%;
}
#top-display>div>h1{
    text-shadow: 0 0 10px #6d6e71;
    color: white;
    text-align: center;
    margin-bottom: 30px;
    font-size: 38px;
    font-weight: 500;
    letter-spacing: -.48px;
    line-height: 40px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;

}
#top-display>div>button{
    text-shadow: 0 0 10px #6d6e71;
    height: 48px;
    line-height:48px;
    padding:20px 50px;
    border: 1px solid #ededed;
    padding: 0 40px;
    font-size: 13px;
    letter-spacing: 1px;
    border-radius: 5px;
    transition: background-color .3s ease-in-out;
    color: #444444;
    background-color: #ffffffe6;
}
#top-display>button:hover{
    cursor:pointer;
    background-color: black;
    color:white;
}

/* First Display */
#section-1{
    margin-top:50px;
    margin-bottom:50px;
    margin-left: 18px;
    margin-right:18px;
    padding-left:50px;
    padding-right:50px;
}
h2{
    margin-bottom: 20px;
    font-size: 27px;
    font-weight: 500;
    letter-spacing: -.34px;
    line-height: 38px;
}
#section-1>p{
    color:#848587;
    line-height:24px;
    letter-spacing: .05em;
}
/* Second Display */
#section-2{
    margin-left: 18px;
    margin-right:18px;
    width: 232.750px;
}
.section-2-image{
    width: 232.750px;
    height: 348.125px;
    object-fit: cover;
    border-radius: 10px;
}
.name-price{
    display:flex;
    margin: 3% 0;
}
.name-price>h3{
    width:172.562px;
    line-height: 24px;
    font-size: 16px;
    letter-spacing: .4px;
    font-weight:bold;
    text-align: left;
}
.name-price>h4{
    width:52.188px;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: .05em;
    color: #848587;
    text-align: right;
}
table, tr { 
    width: 232.750px;
    border: 1px solid #d6d6d6; 
    border-left: none; 
    border-right: none; 
    border-collapse: collapse; 
}
.first-column{
    color: #848587;
    font-size: 12px;
    width: 100px;
}
.second-column{
    font-size: 13px;
    color: #000;
}
td{
    padding: 10px 0;
    text-align: left;
}
.color-circles{
    display: flex;
}
.color-circle{
    background-color: red;
    width:15px;
    height:15px;
    border-radius: 50%;
    margin-top: 2%;
    margin-right: 5%;
}
.c1{
    background-color: #4e5055;
}
.c2{
    background-color: #2a2b2d; 
}
.c3{
    background-color: #2e2f36;
}
.c4{
    background-color: #8d7e71;
}
.c5{
    background-color: #d6d6d6;
}
.section-2-box-button{
    width: 232.750px;
    height:48px;
    border: none;
    width:100%;
    background-color: #2c2c2c;
    color: hsla(0,0%,100%,.8);
    padding: 11px;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 23px;
    text-transform: uppercase;
    transition: background-color .3s ease-in-out;
    border-radius: 5px;
    margin-top: 30px;
}
.section-2-box-button:hover{
    cursor:pointer;
    background-color: black;
    color:white;
}

/* Third Display */
.section-3{
    margin-top: 120px;
    background-color: #f2f0ec;
    padding-top: 60px;
    padding-bottom: 120px;
    padding-right:18px;
    padding-left:18px;
}
.section-3-head{
    margin-bottom: 40px;
    font-size: 27px;
    font-weight: 500;
    letter-spacing: -.34px;
    line-height: 38px;
}
.section-3>img{
    border-radius: 5px;
    margin-bottom: 30px;
}
.section-3>h3{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .45px;
    line-height: 24px;
}
.section-3>p{
    color:#848587;
    line-height:22px;
    letter-spacing: .05em;
    padding-left: 30px;
    padding-right: 30px;
}

/* Fourth Display */
.section-4{
    margin-left: 18px;
    margin-right:18px;
    padding:20px;
    width:202.750px;
}
.section-4>h2{
    font-size: 27px;
    font-weight: 500;
    letter-spacing: -.34px;
    line-height: 38px;
    margin-bottom: 20px;
}
.section-4>img{
    border-radius: 5px;
    width:202.750px;
    height:283.844px;
    object-fit: cover;
}

.section-4>div>h3{
    text-align: left;
    margin-top: 10px;
    font-size: 13px;
    line-height: 1.1;
}
.section-4>div>p{
    text-align: left;
    font-size: 11px;
    line-height: 1.7;
    letter-spacing: 0;
    color:#848587;
}

/* Fifth Display */
.section-5{
    margin:18px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.section-5>h1{
    font-size: 38px;
    font-weight: 500;
    letter-spacing: -.48px;
    line-height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.section-5>p{
    font-size: 16px ;
    color:#848587;
    line-height:24px;
    letter-spacing: .05em;
    padding-left: 50px;
    padding-right: 50px;
}
.section-5>button{
    height: 48px;
    padding:11px 45px;
    border: none;
    border-radius: 5px;
    background-color: #2c2c2c;
    color: hsla(0,0%,100%,.8);
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 23px;
    text-transform: uppercase;
    transition: background-color .3s ease-in-out;
    margin-top: 50px;
    margin-bottom: 50px;
}
.section-5>button:hover{
    cursor:pointer;
    background-color: black;
    color:white;
}

/*Sixth Display */
.section-6{
    margin: 50px 18px 100px 18px;
}
.section-6>div>img{
    border-radius: 10px;
    height: 650px;
    width: 100%;
    object-fit: cover;
}
.section-6>div>h1{
    position:relative;
    font-size: 38px;
    color:white;
    bottom:350px;
    z-index: 0;
}

/* Seventh Display */
.section-7{
    background-color: #f2f0ec;
    padding: 70px 50px;
}
.section-7>img{
    border-radius: 3%;
}
.section-7>h2{
    margin-top:40px;
    margin-bottom:20px;
    font-size: 27px;
    font-weight: 500;
    letter-spacing: -.34px;
    line-height: 38px;
}
.section-7>p{
    color:#848587;
    font-size: 16px;
    line-height:22px;
    letter-spacing: .05em;
    padding-left: 4px;
    padding-right: 4px;
}
.section-7>button{
    padding:11px 45px;
    border: none;
    height: 48px;
    background-color: #2c2c2c;
    color: hsla(0,0%,100%,.8);
    border-radius: 5px;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 23px;
    text-transform: uppercase;
    transition: background-color .3s ease-in-out;
    margin-top: 30px;
}
.section-7>button:hover{
    cursor:pointer;
    background-color: black;
    color:white;
}

/*Section Flex*/
.section-8{
    padding:70px 18px;
}
.section-8>h2{
    font-size: 27px;
    font-weight: 500;
    letter-spacing: -.34px;
    line-height: 38px;
    margin-bottom: -5px;
}
.section-8>h4{
    margin-bottom: 30px;
}
.section-8>h4>a{
    font-size: 13px;
    color: #848587;
}
.section-flex{
    display:flex;
    flex-wrap: wrap;
}
.box{
    width:44%;
    margin: 3%;
}
.box>img{
    border-radius: 5%;
}

/* Form Section */
.section-form{
    margin-top: 100px;
    margin-right:38px;
    margin-left: 38px;
}
.section-form>img{
    width:40px;
    height: 40px;
    margin-bottom: 30px;
}
.section-form>h3{
    font-size:16px;
    letter-spacing: .4px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 20px;
    text-align: left;
    color: black;
}
form{
    background-color: #f2f0ec;
    width:100%;
    padding:12px 0px 12px 16px;
    text-align: left;
}
.email{
    border:none;
    background-color: #f2f0ec;
    margin-right: 0;
    text-align: left;
    color:black;
    font-size: 16px;
    width: 75%;
}
.section-form>form>span>a{
    font-size: 13px;
    letter-spacing: 0;
    font-weight: 400;
    line-height: 19px;
    color:black;
}
.section-form>p{
    margin-top:10px;
    margin-bottom:30px;
    color:#848587;
    font-size: 13px;
}
.section-form>hr{
    color:#848587;
    margin-bottom: 30px;
}

/* Footer Section */
footer{
    text-align: center;
    margin-left: 38px;
    margin-right: 38px;
}
footer>h2{
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .4px;
    font-weight: 500;
    color:#000;
}
footer>ul>li>a{
    text-decoration: none;
    color:#848587;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
}
footer>ul{
    margin-bottom: 30px;
    padding-left:0;

}
footer>ul>li{
    list-style-type: none;
    margin-bottom: 3px;
}
.socials{
    margin-top: 80px;
}
.socials>a>img{
    margin-right: 10px;
    width:24px;
    height:25px;
    background-color: white;
}
footer>p{
    margin-bottom: 40px;
    margin-top:30px;
    color:#848587;
    font-size: 13px;
}